<style>
.footer {
    position: relative;
    bottom: ;
    left: 0;
    right: 0;
    height: 40px;
    padding: 15px;
    background-color: #6BDEC4 ;
    color: white;
    font: italic bold 15px/35px Georgia, serif;
}
</style>


<div class ="footer">
    <div class="row">
        <div class="col-md-4">
            <p>Designed and built by Rajesh...</p>
        </div>
        <div class="col-md-4">
            <p>special reference to data-flair and django documentation to learn more..</p>
        </div>
        <div class="col-md-4">
            <p>choose pycon conference video for tips...</p>
        </div>
    </div>
</div>